@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.scoreboard {
  font-family: "Press Start 2P", cursive;
  color: green;
  background-color: black;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: black 1px solid;
  border-radius: 12px;
  margin-bottom: 24px;
}
